.categories-list {
  display: flex;
}

.categories-list-element {
  margin: 10px;
  padding: 1em;
  border-radius: 3px;
  color: black;
  text-decoration: none;
}

.categories-list-element:hover, .categories-list-element-active {
  border: 2px solid black;
  margin: 8px;
  text-shadow: 1px 1px 1px black;
}

.categories-list-element:nth-of-type(6n) {
  background: red;
}

.categories-list-element:nth-of-type(6n+1) {
  background: orange;
}

.categories-list-element:nth-of-type(6n+2) {
  background: yellow;
}

.categories-list-element:nth-of-type(6n+3) {
  /*color: white;*/
  background: green;
}

.categories-list-element:nth-of-type(6n+4) {
  background: blue;
}

.categories-list-element:nth-of-type(6n+5) {
  background: violet;
}