.posts-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.post-list-element {
	display: flex;
	justify-content: space-around;
}

.post-list-element:nth-of-type(odd) {
  background: lightgrey;
}

.voterator-plus, .voterator-minus {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: grey
}