.posts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-list-element {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  border-top: 1px solid white;
  border-bottom: 1px solid lightgrey;
}

.post-list-element:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.post-list-element:nth-of-type(odd) {
  background: lightgrey;
}

.post-list-element-link {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  color: black;
  text-decoration: none;
}

.post-list-element-link:hover {
  text-shadow: 1px 1px 1px black;
}

.post-list-element-title-category {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post-list-element-author-time {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.voterator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.voterator:hover > .voterator-score{
  text-shadow: 1px 1px 1px black;
}

.voterator-plus:hover, .voterator-minus:hover {
  text-shadow: 1px 1px 2px black;
}

.voterator-plus, .voterator-minus {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: grey
}